USE [AVALIACAO_PB_10]
GO
/****** Object:  User [CURSOPBLGN]    Script Date: 02/04/2019 08:06:50 ******/
CREATE USER [CURSOPBLGN] FOR LOGIN [CURSOPBLGN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [CURSOPBLGN]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [CURSOPBLGN]
GO
/****** Object:  Table [dbo].[DADOS_BANCARIOS]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DADOS_BANCARIOS](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[BANCO] [numeric](3, 0) NOT NULL,
	[AGENCIA] [numeric](7, 0) NOT NULL,
	[CONTA] [varchar](15) NOT NULL,
	[TIPO_CONTA] [char](5) NOT NULL,
	[INICIO_VIGENCIA] [datetime] NOT NULL,
	[FIM_VIGENCIA] [datetime] NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
	[HASH] [varchar](32) NULL,
 CONSTRAINT [PK_DADOS_BANCARIOS] PRIMARY KEY CLUSTERED 
(
	[CODPESSOA] ASC,
	[BANCO] ASC,
	[AGENCIA] ASC,
	[CONTA] ASC,
	[TIPO_CONTA] ASC,
	[INICIO_VIGENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[CODENDERECO] [numeric](3, 0) NOT NULL,
	[PAIS] [numeric](6, 0) NULL,
	[CEP] [numeric](8, 0) NULL,
	[CODUF] [char](2) NULL,
	[CODMUNICIPIO] [numeric](6, 0) NULL,
	[CODTIPOLOGRAD] [numeric](3, 0) NULL,
	[BAIRRO] [varchar](60) NULL,
	[NOMLOGRADOURO] [varchar](140) NULL,
	[NUMENDERECO] [numeric](6, 0) NULL,
	[COMPLEMENTO] [varchar](120) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[CODPESSOA] ASC,
	[CODENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMACONTATO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMACONTATO](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[CODTIPOCONTATO] [numeric](3, 0) NOT NULL,
	[CONTATO] [varchar](255) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_FORMACONTATO] PRIMARY KEY CLUSTERED 
(
	[CODTIPOCONTATO] ASC,
	[CODPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOTO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTO](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[FOTO] [image] NULL,
 CONSTRAINT [PK_FOTO] PRIMARY KEY CLUSTERED 
(
	[CODPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG_ACESSO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG_ACESSO](
	[SEQUENCIAL] [numeric](15, 0) NOT NULL,
	[LOGIN] [varchar](20) NULL,
	[DATA_ACESSO] [datetime] NULL,
	[DATA_SAIDA] [datetime] NULL,
	[ESTACAO] [varchar](100) NULL,
 CONSTRAINT [PK_LOG_ACESSO] PRIMARY KEY CLUSTERED 
(
	[SEQUENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[CODUF] [char](2) NOT NULL,
	[CODMUNICIPIO] [numeric](6, 0) NOT NULL,
	[NOMEMUNICIPIO] [varchar](100) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_MUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[CODMUNICIPIO] ASC,
	[CODUF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[CPF] [numeric](11, 0) NOT NULL,
	[NOME] [varchar](255) NULL,
	[ESTCV] [numeric](1, 0) NULL,
	[NOMEPAI] [varchar](255) NULL,
	[NOMEMAE] [varchar](255) NULL,
	[DATNASCIMENTO] [datetime] NULL,
	[GENERO] [char](1) NULL,
	[NACIONALIDADE] [varchar](30) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [SCRCPKCTP] PRIMARY KEY CLUSTERED 
(
	[CODPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SENHA]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SENHA](
	[LOGIN] [varchar](20) NOT NULL,
	[HASH] [varchar](32) NULL,
	[ADM] [char](1) NULL,
 CONSTRAINT [PK_SENHA] PRIMARY KEY CLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONES]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TELEFONES](
	[CODPESSOA] [numeric](6, 0) NOT NULL,
	[CODTELEFONE] [numeric](3, 0) NOT NULL,
	[TIPOTELEFONE] [char](1) NULL,
	[DDIRESIDENCIAL] [char](7) NULL,
	[DDDRESIDENCIAL] [char](4) NULL,
	[TELNUMRESIDENCIAL] [numeric](9, 0) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TELEFONES] PRIMARY KEY CLUSTERED 
(
	[CODTELEFONE] ASC,
	[CODPESSOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOFORMACONTATO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOFORMACONTATO](
	[CODTIPOCONTATO] [numeric](3, 0) NOT NULL,
	[TIPOCONTATO] [varchar](100) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TIPOFORMACONTATO] PRIMARY KEY CLUSTERED 
(
	[CODTIPOCONTATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOLOGRADOURO]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOLOGRADOURO](
	[CODTIPOLOGRAD] [numeric](3, 0) NOT NULL,
	[TIPLOGRADOURO] [varchar](20) NOT NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_TIPOLOGRADOURO] PRIMARY KEY CLUSTERED 
(
	[CODTIPOLOGRAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UF]    Script Date: 02/04/2019 08:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UF](
	[CODUF] [char](2) NOT NULL,
	[NOMEUF] [varchar](50) NULL,
	[RESPINCLUSAO] [varchar](100) NULL,
	[DATAINCLUSAO] [datetime] NULL,
	[RESPALTERACAO] [varchar](100) NULL,
	[DATAALTERACAO] [datetime] NULL,
 CONSTRAINT [PK_UF] PRIMARY KEY CLUSTERED 
(
	[CODUF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOG_ACESSO] ([SEQUENCIAL], [LOGIN], [DATA_ACESSO], [DATA_SAIDA], [ESTACAO]) VALUES (CAST(1 AS Numeric(15, 0)), N'diego', CAST(N'2019-04-01 16:13:03.553' AS DateTime), CAST(N'2019-04-01 16:34:45.140' AS DateTime), N'Do it later!')
INSERT [dbo].[LOG_ACESSO] ([SEQUENCIAL], [LOGIN], [DATA_ACESSO], [DATA_SAIDA], [ESTACAO]) VALUES (CAST(2 AS Numeric(15, 0)), N'admin', CAST(N'2019-04-01 16:13:03.553' AS DateTime), CAST(N'2019-04-01 16:34:45.140' AS DateTime), N'Do it later!')
INSERT [dbo].[LOG_ACESSO] ([SEQUENCIAL], [LOGIN], [DATA_ACESSO], [DATA_SAIDA], [ESTACAO]) VALUES (CAST(3 AS Numeric(15, 0)), N'diego', CAST(N'2019-04-01 16:13:03.553' AS DateTime), NULL, N'Do it later!')
INSERT [dbo].[MUNICIPIO] ([CODUF], [CODMUNICIPIO], [NOMEMUNICIPIO], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AC', CAST(1 AS Numeric(6, 0)), N'Acrelândia', N'Rafael', CAST(N'2019-04-01 15:09:55.140' AS DateTime), N'Rafael', CAST(N'2019-04-01 15:09:55.140' AS DateTime))
INSERT [dbo].[MUNICIPIO] ([CODUF], [CODMUNICIPIO], [NOMEMUNICIPIO], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AC', CAST(2 AS Numeric(6, 0)), N'Assis Brasil', N'Rafael', CAST(N'2019-04-01 15:09:55.143' AS DateTime), N'Rafael', CAST(N'2019-04-01 15:09:55.143' AS DateTime))
INSERT [dbo].[MUNICIPIO] ([CODUF], [CODMUNICIPIO], [NOMEMUNICIPIO], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AC', CAST(3 AS Numeric(6, 0)), N'Brasileia', N'Rafael', CAST(N'2019-04-01 15:09:55.143' AS DateTime), N'Rafael', CAST(N'2019-04-01 15:09:55.143' AS DateTime))
GO
INSERT [dbo].[PESSOAS] ([CODPESSOA], [CPF], [NOME], [ESTCV], [NOMEPAI], [NOMEMAE], [DATNASCIMENTO], [GENERO], [NACIONALIDADE], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (CAST(1 AS Numeric(6, 0)), CAST(6603791633 AS Numeric(11, 0)), N'Diego', NULL, NULL, NULL, NULL, NULL, NULL, N'admin', CAST(N'2019-04-01 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[SENHA] ([LOGIN], [HASH], [ADM]) VALUES (N'admin', N'123', N'S')
INSERT [dbo].[SENHA] ([LOGIN], [HASH], [ADM]) VALUES (N'diego', N'123', N'N')
INSERT [dbo].[UF] ([CODUF], [NOMEUF], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AC', N'Acre', N'diego', CAST(N'2019-04-01 15:09:52.300' AS DateTime), NULL, NULL)
INSERT [dbo].[UF] ([CODUF], [NOMEUF], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AL', N'Alagoas', N'diego', CAST(N'2019-04-01 15:09:52.300' AS DateTime), NULL, NULL)
INSERT [dbo].[UF] ([CODUF], [NOMEUF], [RESPINCLUSAO], [DATAINCLUSAO], [RESPALTERACAO], [DATAALTERACAO]) VALUES (N'AM', N'Amazonas', N'diego', CAST(N'2019-04-01 15:09:52.300' AS DateTime), NULL, NULL)
ALTER TABLE [dbo].[DADOS_BANCARIOS]  WITH CHECK ADD  CONSTRAINT [FK_DADOS_BA_REFERENCE_PESSOAS] FOREIGN KEY([CODPESSOA])
REFERENCES [dbo].[PESSOAS] ([CODPESSOA])
GO
ALTER TABLE [dbo].[DADOS_BANCARIOS] CHECK CONSTRAINT [FK_DADOS_BA_REFERENCE_PESSOAS]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_REFERENCE_MUNICIPI] FOREIGN KEY([CODMUNICIPIO], [CODUF])
REFERENCES [dbo].[MUNICIPIO] ([CODMUNICIPIO], [CODUF])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_REFERENCE_MUNICIPI]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_REFERENCE_PESSOAS] FOREIGN KEY([CODPESSOA])
REFERENCES [dbo].[PESSOAS] ([CODPESSOA])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_REFERENCE_PESSOAS]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_REFERENCE_TIPOLOGR] FOREIGN KEY([CODTIPOLOGRAD])
REFERENCES [dbo].[TIPOLOGRADOURO] ([CODTIPOLOGRAD])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_REFERENCE_TIPOLOGR]
GO
ALTER TABLE [dbo].[FORMACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_FORMACON_REFERENCE_PESSOAS] FOREIGN KEY([CODPESSOA])
REFERENCES [dbo].[PESSOAS] ([CODPESSOA])
GO
ALTER TABLE [dbo].[FORMACONTATO] CHECK CONSTRAINT [FK_FORMACON_REFERENCE_PESSOAS]
GO
ALTER TABLE [dbo].[FORMACONTATO]  WITH CHECK ADD  CONSTRAINT [FK_FORMACON_REFERENCE_TIPOFORM] FOREIGN KEY([CODTIPOCONTATO])
REFERENCES [dbo].[TIPOFORMACONTATO] ([CODTIPOCONTATO])
GO
ALTER TABLE [dbo].[FORMACONTATO] CHECK CONSTRAINT [FK_FORMACON_REFERENCE_TIPOFORM]
GO
ALTER TABLE [dbo].[FOTO]  WITH CHECK ADD  CONSTRAINT [FK_FOTO_REFERENCE_PESSOAS] FOREIGN KEY([CODPESSOA])
REFERENCES [dbo].[PESSOAS] ([CODPESSOA])
GO
ALTER TABLE [dbo].[FOTO] CHECK CONSTRAINT [FK_FOTO_REFERENCE_PESSOAS]
GO
ALTER TABLE [dbo].[MUNICIPIO]  WITH CHECK ADD  CONSTRAINT [FK_MUNICIPI_REFERENCE_UF] FOREIGN KEY([CODUF])
REFERENCES [dbo].[UF] ([CODUF])
GO
ALTER TABLE [dbo].[MUNICIPIO] CHECK CONSTRAINT [FK_MUNICIPI_REFERENCE_UF]
GO
ALTER TABLE [dbo].[TELEFONES]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONE_REFERENCE_PESSOAS] FOREIGN KEY([CODPESSOA])
REFERENCES [dbo].[PESSOAS] ([CODPESSOA])
GO
ALTER TABLE [dbo].[TELEFONES] CHECK CONSTRAINT [FK_TELEFONE_REFERENCE_PESSOAS]
GO
